{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block container %}
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Numero</th>
      <th scope="col">Date</th>
      <th scope="col">Prix</th>
      <th scope="col">Client</th>
      <th scope="col">Etat</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for commande in commandes %}
    
 
    <tr>
      <td>{{commande.numero}}</td>
    <td>{{commande.date|date("m/d/Y")}}</td>
      <td>{{commande.prix}}</td>
      <td>{{commande.client.username}}</td>
       <td>{{commande.etat}}</td>
        <td>
        
            <a href="{{path('detailsCommande',{'id':commande.id})}}" class="btn text-white bg-primary">Details</a>
          
          	{% if is_granted('ROLE_ADMIN') %}
              {% if commande.etat == 'encours' %}
                 <a href="{{path('changerEtatCommandeAnnuler',{'id':commande.id})}}" class="btn text-white bg-success">Annuler</a>
                 <a href="{{path('changerEtatCommande',{'id':commande.id})}}" class="btn text-white btn-success">Valider</a>
              {% endif %}
               {% if commande.etat == 'valide' %}
                 <a href="{{path('changerEtatCommandePayer',{'id':commande.id})}}" class="btn text-white bg-success">Payer</a>
              {% endif %}
          
            
               {% endif %}
        </td>
    </tr>
     {% endfor %}
  
  </tbody>
</table>
{% endblock %}
